# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.ipynb_checkpoints/
.venv/
env/
venv/
*.log

# ===== R =====
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ===== Data  =====
data/raw/
data/processed/

# ===== Outputs  =====
outputs/figures/
outputs/tables/

# ===== System / Editor Files =====
.DS_Store
Thumbs.db
.vscode/

# ===== Environment / Dependency files =====
environment/*.lock
